*{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* navbar  */

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    /* z-index: 2; */
}
ul{
    list-style: none;
}
.logo{
    padding-left: 15px;
}
.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
    /* margin: 0 40px; */
    margin-right: 40px;
    /* color: whitesmoke; */
   width: 80px;
}

.nav-links  a{
    color: whitesmoke;
    text-decoration: none;
    /* transition: all 0.5s ease; */

}

.nav-links  a:hover{
    border-top: 3px solid #00a8b4;
    transition: all 0.5 ease;
    color: #00a8b4;

}

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
    opacity: 0.3;
}

#exchange{
   
    text-align: center;
    position: relative;
    background-image: url(../image/exchange.avif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* height: 712px; */
}

.heading{
    /* padding-top: 15px; */
    padding-bottom: 20px;
    font-size: 100px;
    text-transform: capitalize;
}

.item{
    /* font-size: 25px; */
    /* line-height: 2; */
    /* padding-top: 15px; */
    margin-top: 30px;
}
label{
    font-size: 40px;
}
input,select{
    width: 40%;
    height: 40px;
    text-align: center;
    font-size: 30px;
    color:  #00a8b4;
    opacity: 0.6;
    text-transform: capitalize;
    border-radius:8px ;
}

form select{
    font-size: 20px;
}
.btn{
    margin-top: 25px;
    /* margin-bottom: 15px; */
    width: 15%;
    margin-bottom: 20px;
    
}

/*footer*/

footer {
    border-top: 3px solid #00a8c5;
}

/*

.footer-col h2{
    color: #00a8b4;
    /* font-size: larger; */
    /* text-align: center; */
    padding-left: 30px;
}



.footer-col ul li{
    margin-top: 10px;

}
.copyright {
    text-align: center;
    background-color: #00a8c5;
    color: #fff;
    padding: 14px 0px;
    margin: 50px 0px 0px 0px;
}

.container {
    max-width: 1170px;
    margin: 50px auto;
    padding-left: 15px;
    padding-right: 15px;

}

@media only screen and (max-width:850px){
    .navbar{
        padding: 0;
        /* margin-top: 0; */
    }
    /* #exchange{
        margin-top: 0;
        padding-top: 0;
    } */
    .logo{
        position: absolute;
        top: 20px;
        left: 5px;
    }
    .menu-btn{
    display: block;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: black;
        margin-top: -900px;
        transition: all 0.5s ease;
    }

    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }

    .nav-links li{
        margin: 30px auto;
    }
    .heading{
        margin-top: 70px;
        font-size: 40px;
    }
      /* #exchange{
        height: 1200px;
    } */
    
    label{
        font-size: 20px;
    }
    .btn{
        width: 30%;
    }
    input{
        width: 35%;
    }
}






