* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}

a {
    font-family: 'raleway';
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'raleway';
    font-weight: 600;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.navbar{
    position: absolute;
    /* position: sticky; */
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    /* color: whitesmoke; */
    color:#000;
    /* z-index: 2; */
}
ul{
    list-style: none;
}
.logo{
    padding-left: 15px;
}
.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
    /* margin: 0 40px; */
    margin-right: 40px;
    /* color: whitesmoke; */
   width: 80px;
}

.nav-links  a{
    /* color: whitesmoke; */
    color: black;
    text-decoration: none;
    /* transition: all 0.5s ease; */

}

.nav-links  a:hover{
    border-top: 3px solid #00a8b4;
    transition: all 0.5 ease;
    color: #00a8b4;

}

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
    opacity: 0.3;
}

header{
  background-image: url(../image/mountain.avif);
  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 712px;
}


.add{
    text-align:  center;
    font-size: 50px;
    text-transform: capitalize;
    padding-top: 98px;

}

/*welcome Sec Css*/

section#welcome_Sec {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 40px;

}

section#welcome_Sec h2 {
    color: #343a40;
    /* font-size: 42px;
    font-weight: 600; */
    padding-bottom: 12px;
    text-transform: capitalize;
    font-size: 100px;
    /* color: #00a8c5; */
    font-weight: 900;
}

/* section#welcome_Sec p {
    font-size: 17px;
    color: #777;
    font-weight: 400;
    line-height: 30px;
} */


/* slides*/

section#slides_parent {
    padding-bottom: 95px;
}

.slides {
    display: flex;
    justify-content: center;
}

/* .slides h4 {
    color: #444;
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
} */

.slide_1 {
    background-image:  url(../image/Taj-Mahal.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    min-width: 60px;
    height: 300px;
    border-radius: 40px;
    margin: 0 20px;
    position: relative;
    transition: all 0.5s ease;
}

.slide_info {
    position: absolute;
    bottom: 51px;
    color: whitesmoke;
    transform: rotate(-90deg);
    right: 0px;
    /* font-weight: 700; */
    font-size: 12px;
}

.slide_1:hover {
    min-width: 250px;
}

.slide_1:hover .slide_info {
    transform: rotate(0deg);
    left: 20px;
    bottom: 20px;
    font-size: 22px;
}

.slide_2 {
    background-image:  url(../image/narinder-pal-YHgBP-5jEIo-unsplash.jpg);
}

.slide_3 {
    background-image: url(../image/varanashi.avif);
}

.slide_4 {
    background-image: url(../image/redfort.jpg);
}

.slide_5 {
    background-image: url(../image/jodhpur.jpg);
}

.slide_6 {
    background-image:url(../image/chennai.jpg);
}

.slide_7 {
    background-image:url(../image/lkhagurao.jpg);
}



/* pricing  */
#pricing{
    text-align: center;
}
#pricing h1{
    /* font-size: 70px; */
    text-transform: capitalize;
    font-size: 100px;
    /* color: #00a8c5; */
    font-weight: 900;
}
#pricing  .item1{
    /* background-color: #FFE5F1; */
    background-color: #EFEFEF;
    /* background-color: #FFF8E1; */
}

#pricing  .item2{
    background-color: #C3F8FF;
    /* background-color: #FFE5F1; */
}

#pricing  .item3{
    background-color: #FFE5F1;
    /* background-color: #C0DEFF; */
}
/* #pricing .card .card-body{
    opacity: 0.3;
} */
#pricing{
 padding: 55px;
}
.price-text{
    font-size: 30px;
    line-height: 1.5;
 
}
.column{
    padding: 3% 2%;
}

/*footer*/

footer {
    border-top: 3px solid #00a8c5;
}

.footer-row{
    margin-top: 50px;
}

.footer-col h2{
    color: #00a8b4;
    /* font-size: larger; */
}

.footer-col h3{
    color: #00a8b4;
    /* font-size: larger; */
}

.footer-col a{
    text-decoration: none;
    color: #000;
}
.footer-col ul li{
    margin-top: 10px;
}
.row h2{
    padding-left: 28px;
}

.row .item-1{
    padding-top: 50px;
}

.copyright {
    text-align: center;
    background-color: #00a8c5;
    color: #fff;
    padding: 14px 0px;
    margin: 50px 0px 0px 0px;
}

@media screen and (max-width:700px) {
    .navbar{
        padding: 0;
        /* margin-top: 0; */
    }
    /* #exchange{
        margin-top: 0;
        padding-top: 0;
    } */
    .logo{
        position: absolute;
        top: 30px;
        left: 10px;
    }
    .menu-btn{
    display: block;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: black;
        margin-top: -900px;
        transition: all 0.5s ease;
        color: #00a8b4;
    }
       
    .nav-links  a{
        color: whitesmoke;
        text-decoration: none;
       
    }

    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }

    .nav-links li{
        margin: 30px auto;
    }
    .slides {
        flex-direction: column;
    }

    .slide_1 {
        width: 90%;
        min-width: 90%;
        height: 240px;
        margin: 20px 15px;
    }

    section#welcome_Sec {
        text-align: center;
        padding: 50px 0px 20px;
    }

    header {
        padding: 0 40px;
    }

    section#welcome_Sec h2 {
        font-size: 18px;
    }

    section#slides_parent {
        padding-bottom: 50px;
    }

    .slide_info {
        bottom: 21px;
        transform: rotate(0deg);
        left: 20px;
        font-size: 19px;
    }
    #pricing h1{
        /* font-size: 70px; */
        text-transform: capitalize;
        font-size: 60px;
        /* color: #00a8c5; */
        font-weight: 500;
    }
    .price-text{
        font-size: 1rem;
        line-height: 1.5;
     
    }
}




